<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl lg:max-w-3xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
            >
                <div class="modal-content bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <div class="mt-2">
                                <p class="text-center">
                                    <strong
                                        ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                            >CONTRATO DE AFILIACION A LA MEMBRES&Iacute;A NETCARE &ndash; T&Eacute;RMINOS Y CONDICIONES GENERALES<br />&nbsp;</span
                                        ></strong
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Son <strong>LAS</strong> <strong>PARTES</strong> en este contrato, por un lado,
                                        <strong>EL AFILIADO</strong>,&nbsp;cuyos datos se detallan en el Formulario de Afiliaci&oacute;n que como
                                        Anexo forma parte integral de este documento, y por otro lado, la sociedad
                                        <strong>INVERSIONES MEDICAS ESCAF SALES S.A.S.</strong>, en adelante <strong>IMES</strong>., identificada con
                                        el NIT No. 900.319.308-9, y establece la forma de uso, as&iacute; como los t&eacute;rminos y condiciones
                                        generales en que opera <strong>LA MEMBRES&Iacute;A NETCARE,</strong> en adelante <strong>NETCARE</strong> y se
                                        definen los beneficios y restricciones para <strong>EL AFILADO</strong>. Este contrato se regular&aacute; por
                                        las disposiciones legales que rigen la materia y en especial por las cl&aacute;usulas que se consignan
                                        m&aacute;s adelante, previas las siguientes:</span
                                    >
                                </p>
                                <p style="margin-left: 36pt">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">&nbsp;</span></strong></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >DEFINICIONES Y DECLARACIONES</span
                                            ></strong
                                        ></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">Definiciones:</span></strong
                                        ></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >1.<strong>Membres&iacute;a NETCARE:</strong> Es una condici&oacute;n que le permite a una persona, en este
                                        caso, al AFILIADO, ser miembro privilegiado de un programa de beneficios como <strong>NETCARE</strong>, y
                                        tener el boleto de admisi&oacute;n que les hace sentirse plenamente identificados con los objetivos
                                        particulares del programa y tener acceso a los beneficios. La membres&iacute;a <strong>NETCARE</strong>, es de
                                        car&aacute;cter personal, individual e intransferible.&nbsp;</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >2.<strong>Programa NETCARE:</strong> Programa que permite a los AFILIADOS a la membres&iacute;a tener acceso
                                        a adquisici&oacute;n de bienes y servicios privilegiados de atenci&oacute;n en las &aacute;reas de salud y
                                        dem&aacute;s &aacute;reas del sector real que son prestados por los ALIADOS COMERCIALES que tienen
                                        relaci&oacute;n con IMES que ofrecen beneficios de atenci&oacute;n preferente, descuentos y tarifas
                                        bonificadas.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >3. <strong>Aliados COMERCIALES</strong>. Son personas naturales o jur&iacute;dicas que suscriben contratos de
                                        alianza con IMES para ofrecer y comercializar bienes y/o servicios en las &aacute;reas de salud, asistencia
                                        m&eacute;dica, y dem&aacute;s &aacute;reas del sector real, incluyendo el financiero, con beneficios para los
                                        AFILIADOS al Programa.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >4. <strong>Plataforma NETCARE</strong>: Plataforma virtual compuesta por una aplicaci&oacute;n para
                                        dispositivos m&oacute;viles y una p&aacute;gina web por medio de la cual los Aliados Comerciales exhiben,
                                        ofrecen y comercializan productos y/o servicios para que sean adquiridos por los AFILIADOS al programa.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >5.<strong>Formulario de Afiliaci&oacute;n:</strong> Documento Anexo a este contrato en el cual se consignan
                                        toda la informaci&oacute;n del Afiliado.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >6.<strong>Comercializadores:</strong> Personas que tienen relaci&oacute;n comercial con IMES y que son los
                                        encargados de comercializar el Programa <strong>NETCARE&nbsp;</strong>entre los AFILIADOS y quien tiene acceso
                                        a ellos en el desarrollo de sus derechos en la membres&iacute;a.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">Declaraciones:</span></strong
                                        ></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Declara el Afiliado por su propio derecho que:</span
                                            ></strong
                                        ></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Es una persona f&iacute;sica con plena capacidad de ejercicio. Es su voluntad celebrar el presente Contrato
                                        de afiliaci&oacute;n a la membres&iacute;a <strong>NETCARE</strong> con
                                        <strong>INVERSIONES MEDICAS ESCAF SALES S.A.S.</strong></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Le ha sido proporcionada toda la informaci&oacute;n relativa al contenido del presente Contrato, incluyendo
                                        aquella correspondiente a los t&eacute;rminos y condiciones del Programa y la Membres&iacute;a
                                        <strong>NETCARE</strong> que se incluye en el presente documento.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Acepta que los bienes y/o servicios, derechos y t&eacute;rminos que adquiere bajo la Membres&iacute;a
                                        <strong>NETCARE</strong> ser&aacute;n destinados &uacute;nicamente para su uso personal y entiende que son
                                        intransferibles.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Que la Membres&iacute;a <strong>NETCARE</strong> no comprende el suministro de bienes y/o la
                                        prestaci&oacute;n de servicios al AFILIADO, sino la posibilidad de que &eacute;ste pueda contratarlos
                                        directamente con el Aliado Comercial que se pone a su disposici&oacute;n a trav&eacute;s de la Plataforma
                                        Netcare, y este entendimiento ha sido motivo determinante de la voluntad de IMES para celebrar el presente con
                                        el AFILIADO.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Entiende que la adquisici&oacute;n de bienes y/o la prestaci&oacute;n de servicios contemplados en la
                                        Membres&iacute;a <strong>NETCARE&nbsp;</strong>ser&aacute;n prestados por los Aliados Comerciales con la
                                        cuales IMES tenga suscritos los correspondientes convenios o alianzas estrat&eacute;gicas y que est&aacute;n
                                        reflejados en la Plataforma NETCARE con la cual podr&aacute;n tener acceso a la
                                        informaci&oacute;n.&nbsp;</span
                                    >
                                </p>
                                <p style="margin-left: 36pt">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">&nbsp;</span></strong></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Declara IMES por conducto de su representante legal:</span
                                            ></strong
                                        ></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Que es una sociedad constituida conforme a las leyes de la Rep&uacute;blica de Colombia, plenamente facultada
                                        conforme su objeto social para celebrar el presente Contrato y para asumir las obligaciones que se establecen
                                        en el mismo seg&uacute;n consta en sus Estatutos Sociales.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >Que ha creado un programa conocido como NETCARE del que tiene todos sus derechos de propiedad intelectual al
                                        que, a su &uacute;nico y exclusivo juicio, comercializa la Membres&iacute;a NETCARE mediante la
                                        suscripci&oacute;n de contratos de afiliaci&oacute;n a dicho programa, as&iacute; como la suscripci&oacute;n
                                        de contratos de alianza con personas naturales y jur&iacute;dicas que suministran bienes y/o prestan servicios
                                        en todas &aacute;reas del sector real en Colombia, incluyendo el sector financiero.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >En virtud de las Definiciones y Declaraciones anteriores LAS PARTES se obligan de conformidad con las
                                        siguientes:</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">&nbsp;</span></strong></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">CL&Aacute;USULAS</span></strong
                                        ></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">&nbsp;</span></strong></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 1. Objeto.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;En virtud del presente contrato: 1.1) El Afiliado conviene en inscribirse y adquirir la
                                        Membres&iacute;a <strong>NETCARE</strong>, y su programa, con el objeto de obtener acceso a la Plataforma
                                        NETCARE para lograr beneficios en la adquisici&oacute;n de bienes y/o servicios que prestan los Aliados
                                        Comerciales con los cuales <strong>IMES</strong> tenga suscritos contratos de alianza estrat&eacute;gica. 1.2)
                                        <strong>IMES</strong> permitir&aacute; al Afiliado su ingreso a la Plataforma NETCARE, para que cree su
                                        Usuario y contrase&ntilde;a que ser&aacute; activado de manera inmediata con la firma de este contrato y el
                                        pago de las obligaciones adquiridas en este y tenga acceso al programa Netcare. 1.3) El Afilado tendr&aacute;
                                        un Carnet Digital que lo acredita como parte del Programa Netcare, con el cual podr&aacute; tener acceso a la
                                        adquisici&oacute;n de bienes y/o servicios que presten los Aliados Comerciales a IMES. 1.4.) El Afiliado
                                        podr&aacute; ingresar al Programa a trav&eacute;s de la Plataforma Netcare con su usuario y contrase&ntilde;a
                                        y presenta el carnet digital otorgado al momento de solicitar o ejercer cualquier derecho establecido en el
                                        Programa reconociendo su intransferabilidad y de uso exclusivo por &eacute;l.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 2. Valor de la Membres&iacute;a</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >. Se establece lo siguiente: El valor y forma de pago para la adquisici&oacute;n de la Membres&iacute;a se
                                        expone en el Anexo No. 1. <strong>Nota</strong>: IMES no permitir&aacute; el acceso a la Plataforma Netcare
                                        del Afiliado sino se encuentra al d&iacute;a en su pago.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 3. L&iacute;mites de Responsabilidad e indemnidad.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El Afiliado conoce, acepta y est&aacute; de acuerdo que IMES no suministra bienes, productos y/o
                                        servicios, sino que le permite, a trav&eacute;s de su Plataforma Netcare, (aplicativo, call centers,
                                        p&aacute;gina Web), tener acceso a los Aliados Comerciales y coordinar con ellos, de manera aut&oacute;noma y
                                        directa, independiente de IMES, la contrataci&oacute;n de los productos y/o servicios que ellos ofrecen,
                                        teniendo la posibilidad de acceder a beneficios de tiempos de atenci&oacute;n y beneficios de descuentos
                                        econ&oacute;micos, motivo por el cual el Afiliado asume totalmente la responsabilidad de la informaci&oacute;n
                                        que proporcione, as&iacute; como de cualquier circunstancia que tenga Lugar o se derive, al momento de
                                        utilizar estos beneficios.&nbsp;</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">Par&aacute;grafo 1</span></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >: El Afiliado se compromete a mantener indemne a <strong>IMES&nbsp;</strong>de cualquier tipo de
                                        responsabilidad sobre cualquier demanda, reclamaci&oacute;n, acciones legales y costas, decisi&oacute;n
                                        judicial o administrativa que surja con ocasi&oacute;n de la adquisici&oacute;n de bienes, productos y/o
                                        servicios que contrate con alguno de los Aliados Comerciales a los que tenga acceso a trav&eacute;s del
                                        Programa Netcare, ya que la participaci&oacute;n de IMES en la contrataci&oacute;n o relaci&oacute;n comercial
                                        del Afiliado con el Aliado Comercial es solo de medios y no de resultados.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 4. Duraci&oacute;n.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El presente Contrato da la posibilidad de que el Afiliado tenga acceso a la membres&iacute;a y el
                                        Programa Netcare por un periodo de 1 (un) a&ntilde;o a partir de que haya cubierto su Cuota de
                                        Afiliaci&oacute;n o en la fecha de pago establecida en la Membres&iacute;a. Con posterioridad al primer
                                        a&ntilde;o de vigencia, la membres&iacute;a se prorrogar&aacute; por un t&eacute;rmino igual con el pago de la
                                        misma. En caso de que el Afiliada no cumpla con el pago para la renovaci&oacute;n de la Membres&iacute;a, el
                                        presente Contrato terminar&aacute; sin necesidad de notificaci&oacute;n alguna por las
                                        partes.<strong>&nbsp;Par&aacute;grafo</strong>: En caso de que haya modificaciones a los t&eacute;rminos de la
                                        Membres&iacute;a, &eacute;stas ser&aacute;n comunicadas al Afiliado con al menos 20 (veinte) d&iacute;as
                                        h&aacute;biles de anticipaci&oacute;n a la terminaci&oacute;n de su vigencia y el Afiliado tendr&aacute; un
                                        plazo de 5 (cinco) d&iacute;as h&aacute;biles para aceptar los nuevos t&eacute;rminos en el entendido que si
                                        no manifiesta su oposici&oacute;n en el plazo se&ntilde;alado se entender&aacute; que ha aceptado las
                                        modificaciones y los nuevos t&eacute;rminos de la Membres&iacute;a.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 5. Cancelaci&oacute;n de la Membres&iacute;a.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El Afiliado podr&aacute; cancelar su membres&iacute;a &uacute;nicamente durante los primeros diez (10)
                                        d&iacute;as h&aacute;biles siguientes a la firma del contrato y siempre que no haya hecho uso de los
                                        beneficios de la membres&iacute;a.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 6. Devoluciones.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;De conformidad con lo establecido en el art&iacute;culo 47 del Estatuto del Consumidor o el que lo
                                        reglamente, el presente contrato de afiliaci&oacute;n se inicia y se consolida con el acuerdo previo entre
                                        IMES y el afiliado para su afiliaci&oacute;n y la prestaci&oacute;n de los servicios que se prestar&aacute;n,
                                        motivo por el cual, en el evento del retracto por parte de &eacute;ste, con excepci&oacute;n de la
                                        cl&aacute;usula anterior, IMES no reembolsar&aacute; ninguna suma de dinero y no aplicar&aacute;
                                        cr&eacute;ditos para la contrataci&oacute;n de membres&iacute;as futuros si el Afiliado NO hizo uso de los
                                        beneficios y servicios durante el per&iacute;odo de contrataci&oacute;n. Cualquier consulta o solicitud
                                        relacionada con este tema deber&aacute; ser canalizada por escrito y remitida a la direcci&oacute;n
                                        electr&oacute;nica&nbsp;</span
                                    ><span style="color: rgb(0, 0, 0)"
                                        ><a href="mailto:servicioalcliente@netcare.life"
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >servicioalcliente@netcare.life</span
                                            ></a
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp; &nbsp;&nbsp;</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 7. Cesi&oacute;n de Derechos.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El Afiliado no podr&aacute; ceder sus derechos, deberes u obligaciones que se deriven de este Contrato,
                                        incluyendo la Membres&iacute;a y el Programa.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 8. Afiliaciones Adicionales:</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;Al respecto, el Afiliado podr&aacute; incluir por una vez dentro de la vigencia de la membres&iacute;a
                                        a cinco (5) beneficiarios adicionales, pudiendo ser &eacute;stos parientes o no, mayores o menores de edad,
                                        siempre y cuando llenen los formularios de afiliaci&oacute;n descritos en el Anexo 2 del presente contrato y
                                        paguen el derecho a los precios preferenciales que se se&ntilde;alan en el Anexo.&nbsp;</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 9. Autorizaciones para Centrales de Riesgo:</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El Afiliado autoriza libre y expresamente al Oferente para que consulte y solicite informaci&oacute;n
                                        acerca del cumplimiento de las relaciones y obligaciones con cualquier otra entidad a las Centrales de Riesgo:
                                        CIFIN (ASOCIACION BANCARIA), DATACREDITO (COMPUTEC) y a Entidades Financieras de Colombia, que presten el
                                        mismo servicio o a quien represente sus derechos.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 10. Uso de Datos Personales y Protecci&oacute;n de Datos:</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El Afiliado expresamente otorga con la suscripci&oacute;n del contrato, su consentimiento previo,
                                        calificado, expreso, e informado, a<strong>&nbsp;IMES</strong>, dentro de los par&aacute;metros previstos en
                                        la legislaci&oacute;n aplicable para recolectar, almacenar, mantener, usar y transferir sus datos personales,
                                        incluyendo datos sensibles como email, tel&eacute;fono, direcci&oacute;n, &nbsp;con la finalidad &uacute;nica
                                        y exclusiva de adelantar las actividades de registro en las bases de datos de IMES para la prestaci&oacute;n
                                        de servicios contratados con IMES, en especial, compartir sus datos con los Aliados Comerciales de IMES, y
                                        todas aquellas se&ntilde;aladas en la Pol&iacute;tica de Privacidad y Tratamiento de Datos Personales de IMES.
                                        De igual forma, el Afiliado acepta la Pol&iacute;tica de Privacidad y Tratamiento de Datos Personales de IMES,
                                        que se encuentra disponible en la p&aacute;gina web &nbsp;</span
                                    ><span style="color: rgb(0, 0, 0)"
                                        ><a href="https://netcare.life/"
                                            ><span style="font-family: 'Segoe UI', sans-serif"
                                                ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; text-decoration: none"
                                                    >https://netcare.life/</span
                                                ></span
                                            ></a
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >,&nbsp;y reconoce sus derechos a conocer, actualizar y rectificar los datos e informaci&oacute;n que ha
                                        suministrado a IMES, as&iacute; como limitar el uso de dicha informaci&oacute;n por IMES.
                                        <strong>Par&aacute;grafo</strong>. La Autorizaci&oacute;n se otorga para Datos Personales que se Traten en el
                                        futuro y para los Datos Personales que hubieran sido Tratados por IMES en el pasado, situaci&oacute;n que se
                                        entiende ratificada por medio del presente documento.&nbsp;</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 11. Notificaciones:</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;LAS PARTES ser&aacute;n notificados a las direcciones f&iacute;sicas y electr&oacute;nicas que aparecen
                                        en el Formulario de Afiliaci&oacute;n anexo.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 12. Contrato Electr&oacute;nico.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El presente contrato podr&aacute; ser firmado de forma electr&oacute;nica en la p&aacute;gina
                                        web&nbsp;</span
                                    ><span style="color: rgb(0, 0, 0)"
                                        ><a href="https://netcare.life/"
                                            ><span style="font-family: 'Segoe UI', sans-serif"
                                                ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; text-decoration: none"
                                                    >https://netcare.life/</span
                                                ></span
                                            ></a
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;donde al aceptar el pago, autom&aacute;ticamente se considera como aceptadas todas y cada una de las
                                        cl&aacute;usulas del presente contrato junto a sus anexos aplicables, por lo que tendr&aacute; la misma fuerza
                                        que si hubiese sido firmado de pu&ntilde;o y letra por el Afiliado como por cualquier representante legal de
                                        IMES&nbsp;</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 13. Jurisdicci&oacute;n, Competencia y Soluci&oacute;n de Conflictos.&nbsp;</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >El presente Contrato se regir&aacute; e interpretar&aacute; de acuerdo con las leyes de la Rep&uacute;blica
                                        de Colombia. Las partes acuerdan que para resolver cualquier controversia que se suscite sobre la
                                        interpretaci&oacute;n o cumplimiento del presente Contrato, se acudir&aacute; primero a alguno de los
                                        Mecanismos Alternativos de Soluci&oacute;n de Conflictos que existan en Colombia. Sin perjuicio de lo
                                        anterior, y en caso de que el conflicto no haya sido resuelto dentro de los treinta (30) d&iacute;as
                                        h&aacute;biles siguientes a su aparici&oacute;n, LAS PARTES podr&aacute;n acudir a la justicia
                                        ordinaria.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 14. Modificaciones al Contrato.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;Toda modificaci&oacute;n al presente contrato deber&aacute; ser por escrito y deber&aacute; contar con
                                        la debida autorizaci&oacute;n de ambas partes.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong
                                            ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif"
                                                >Cl&aacute;usula No. 15. Consultas y Reclamos.</span
                                            ></strong
                                        ></span
                                    ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >&nbsp;El Afiliado podr&aacute; realizar las consultas sobre el servicio o bien comunicar una petici&oacute;n,
                                        queja o reclamo en la informaci&oacute;n que aparece en la p&aacute;gina Web:&nbsp;</span
                                    ><span style="color: rgb(0, 0, 0)"
                                        ><a href="https://netcare.life/"
                                            ><span style="font-family: 'Segoe UI', sans-serif"
                                                ><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; text-decoration: none"
                                                    >https://netcare.life/</span
                                                ></span
                                            ></a
                                        ></span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >La firma de esta solicitud completa constituye la aceptaci&oacute;n de todas las condiciones de
                                        Membrec&iacute;a de NETCARE por lo tanto EL AFILIADO declara que ha le&iacute;do, comprendido y aceptado
                                        cumplir con las condiciones aqu&iacute; estipuladas y suscribe el presente contrato en dos (2) ejemplares, uno
                                        para cada parte, el d&iacute;a _______ (___) del mes de _________ del a&ntilde;o dos 202__.</span
                                    >
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)">&nbsp;</span>
                                </p>
                                <p class="text-justify">
                                    <span style="font-size: 12px; font-family: 'Arial Nova', sans-serif; color: rgb(0, 0, 0)"
                                        >EL AFILIADO: ___________________</span
                                    >
                                </p>
                                <p style="margin-left: 36pt">
                                    <span style="color: rgb(0, 0, 0)"
                                        ><strong><span style="font-size: 12px; font-family: 'Arial Nova', sans-serif">&nbsp;</span></strong></span
                                    >
                                </p>
                                <p style="margin: 0; font-size: 15px; font-family: 'Lucida Sans Unicode', sans-serif">
                                    <span style="color: rgb(0, 0, 0)">&nbsp;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button
                        type="button"
                        class="inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary sm:ml-3 sm:w-auto"
                        (click)="userResponse(true)"
                    >
                        Aceptar
                    </button>
                    <button
                        type="button"
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                        (click)="userResponse(false)"
                    >
                        Rechazar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
